<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <a routerLink="/" class="m-lg-4 p-2 text-white text-decoration-none">QTShop</a>
  </span>
  <span class="spacer"></span>
  <span>
    <a routerLink="/catalog" class="m-lg-4 p-2 text-white text-decoration-none">Catalog</a>
  </span>
  <span>
    <a routerLink="/catalog" class="m-lg-4 p-2 text-white text-decoration-none">Basket</a>
  </span>
  <span>
    <a routerLink="/catalog" class="m-lg-4 p-2 text-white text-decoration-none">Order</a>
  </span>
</mat-toolbar>
